<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum rerum officia natus debitis quos deserunt facilis maiores sed dicta exercitationem ex nihil aspernatur voluptatibus quod voluptas quidem, facere nemo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, dolores non. Nobis debitis veritatis dolor reprehenderit libero iste, quisquam quaerat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ut.</p>

    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>